*

!/.git
!/.gitignore
!/hugo.toml
!/readme.md
!/changelog.md
!/contributing.md
!/dockerfile
!/license
!/makefile

!/.github
!/.github/**/**

!/archetypes
!/archetypes/**/**

!/assets
!/assets/**/**

!/content
!/content/**/**

!/data
!/data/**/**

!/docs
!/docs/**/**

!/i18n
!/i18n/**/**

!/layouts
!/layouts/**/**

!/static
!/static/**/**

!/themes
!/themes/**/**

.hugo_build.lock
.vscode
/assets/jsconfig.json
/public/
/resources
hugo_stats.json